{{!< default}}

<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 input-box">
      <label>Namn:</label>
      <input type="search" id="search" class="form-control" placeholder="T.ex. 'ACI armbåge'" />
    </div>

    <div class="col-md-offset-3 col-md-6 input-box">
      <label>Synonymer:</label>
      <input type="search" id="synonym-input" class="synonym-input form-control" placeholder="T.ex. 'Taskig armbåge'" />
      <div class="add-synonym">
        <a id="add-synonym-btn" class="btn btn-default btn-success" href="#" role="button">
          <span class="add-synonym-icon glyphicon glyphicon-plus"></span>
        </a>
      </div>
      <div id="synonyms"></div>
    </div>

    <div class="col-md-offset-3 col-md-6 input-box">
      <label>Specialitet:</label>
      <input type="search" id="search" class="form-control" placeholder="T.ex. 'ABCD'" />
    </div>

    <div class="col-md-offset-3 col-md-6 input-box">
      <label>Plocklista:</label>
      <div id="articles"></div>
      <div class="search-box">
        <input type="search" id="article-search" class="form-control" placeholder="T.ex. 'Tandborste'" />
      </div>

      <div id="results"></div>
    </div>
  </div>
</div>

<script id="results-template" type="text/x-handlebars-template">
  <table class="table table-striped table-bordered table-hover" id="result-table">
    \{{a}}
    \{{#each results}}
      <tr>
        <td>
          <div>\{{ name }}</div>
          <div class="tags">\{{ tags }}</div>
        </td>
        <td class="add-column" data-name="\{{ name }}">
          <span class="add-icon glyphicon glyphicon-plus"></span>
        </td>
      </tr>
    \{{/each}}
  </table>
</script>

<script id="article-template" type="text/x-handlebars-template">
  <div>
    <div class="counter">
      1
      <div class="counter-choice">
        <span class="counter-choice-left">
          <span class="glyphicon glyphicon-chevron-up"></span>
        </span>
        <span class="counter-choice-right">
          <span class="glyphicon glyphicon-chevron-down"></span>
        </span>
      </div>
    </div>
    <div class="article">\{{name}}</div>
    <div class="remove-article">
      <span class="remove-icon glyphicon glyphicon-remove"></span>
    </div>
  </div>
</script>

<script id="synonym-template" type="text/x-handlebars-template">
  <div class="synonym-container">
    <div class="synonym">\{{name}}</div>
    <div class="remove-synonym">
      <span class="remove-synonym-icon glyphicon glyphicon-remove"></span>
    </div>
  </div>
</script>



<script src="/js/create.js"></script>
