{{!< default}}

<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 input-box">
            <label>Namn:</label>
            <input type="text" id="operation-name" class="form-control" placeholder="T.ex. 'ACI armbåge'" />
        </div>

        <div class="col-md-offset-3 col-md-6 input-box">
            <div id="synonyms"></div>
            <label>Synonymer:</label>
            <input id="tags_1" type="text" class="form-control tags"/>
        </div>
      
        <div class="col-md-offset-3 col-md-6 input-box">
            <label>Specialitet:</label>
            <select class="specialitet-select">
            <option value="Specialitet" selected="selected">Lägg till specialitet</option>
        </select>
        </div>
      
        <div class="col-md-offset-3 col-md-6 input-box">
            <label>Plocklista:</label>
            <div class="search-box articleSearch">
                <input type="search" id="article-search" class="form-control article-search" placeholder="T.ex. 'Tandborste'" />
            </div>

            <div id="kartotekResults"></div>
            <div id="articles"></div>
        </div>

        <div class="col-md-offset-3 col-md-6 input-box">
            <label>Underrubriker:</label>
            <input type="text" id="underrubrik-name" class="form-control" placeholder="Underrubriksnamn" />

            <label>Checkbar:</label>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">av</button>
                <button type="button" class="btn btn-default">på</button>
            </div>
          
            <textarea id="underrubrik-text" class="form-control" rows="5"></textarea>
          
            <button type="button" id="newUnderrubrikButton" class="btn btn-primary">Skapa Underrubrik</button>
            
            <div id="underrubriker"></div>
            
        </div>
      
        <div class="col-md-offset-3 col-md-6 input-box">
            <button type="button" id="newOperationButton" class="btn btn-primary">Skapa Handbok</button>
        </div>



    </div>
</div>

<script id="specialitetResults-template" type="text/x-handlebars-template">
    <table class="table table-striped table-bordered table-hover" id="result-table">
      \{{#each results}}
        <tr>
            <td>
                <div>\{{ name }}</div>
            </td>
        </tr>
      \{{/each}}
    </table>
</script>

<script id="kartotekResults-template" type="text/x-handlebars-template">
    <table class="table table-striped table-bordered table-hover" id="result-table">
      \{{a}}
      \{{#each results}}
        <tr>
            <td>
                <div>\{{ name }}</div>
                <div class="tags">\{{ tags }}</div>
            </td>
            <td class="add-column" data-name="\{{ name }}" data-kartotekid="\{{ _id }}">
                <span class="add-icon glyphicon glyphicon-plus"></span>
            </td>
        </tr>
      \{{/each}}
    </table>
</script>

<script id="article-template" type="text/x-handlebars-template">
    <div>
        <div class="counter">
            1
            <div class="counter-choice">
        <span class="counter-choice-left">
          <span class="glyphicon glyphicon-chevron-up"></span>
        </span>
        <span class="counter-choice-right">
          <span class="glyphicon glyphicon-chevron-down"></span>
        </span>
            </div>
        </div>
        <div class="article" data-kartotekid="\{{id}}">\{{name}}</div>
        <div class="remove-article">
            <span class="remove-icon glyphicon glyphicon-remove"></span>
        </div>
    </div>
</script>

<script id="synonym-template" type="text/x-handlebars-template">
    <div class="synonym-container">
        <div class="synonym">\{{name}}</div>
        <div class="remove-synonym">
            <span class="remove-synonym-icon glyphicon glyphicon-remove"></span>
        </div>
    </div>
</script>


<script id="underrubrik-template" type="text/x-handlebars-template">
    <div class="underrubrik-container">
        <input type="text" id="underrubrik-name" class="form-control" value=\{{ name }}>
        <textarea id="underrubrik-text" class="form-control" rows="5">\{{ text }}</textarea>

    </div>
    
</script>
