{{!< default}}
<div class="container" xmlns="http://www.w3.org/1999/html">
  <form method="POST" class="operationForm" data-id="{{data._id}}" data-slug="{{data.slug}}">
    <div class="lastSave">
      Sparad: 
      <span class="time">
        {{#if data.updatedAt }}
          {{ data.updatedAt }}
        {{/if}}
      </span>
    </div>
    <div id="name">
      Namn:
      <input class="form-control" type="text" {{#ifeq data.slug "mall" }} disabled="disabled" {{/ifeq}}
             value="{{data.title}}" placeholder="Namn"
             data-slug="{{ data.slug }}" data-model="Operation"
             data-field="title" data-update="true" data-saved="{{data.title}}"/>
    </div>
    <div id="synonyms">
      Synonymer:
      <input class="form-control tags" type="text" name="tags" placeholder="Synonymer" value="{{data.tags}}"
             data-model="Operation" data-slug="{{ data.slug }}"
             data-field="tags" data-update="true" data-saved="{{data.tags}}"/>
    </div>
    <div id="specialty">
      Specialitet:
      <select name="specialty" {{#ifeq data.slug "mall" }} disabled="disabled" {{/ifeq}} class="specialitet-select"
              data-model="Operation" data-slug="{{ data.slug }}"
              data-field="specialty" data-update="true"  data-saved="{{data.specialty._id}}">
        {{#if data.specialty }}
          <option value="{{data.specialty._id}}" selected="selected">{{data.specialty.name}}</option>
        {{ else }}
          <option value="none" selected="selected">Lägg till specialitet</option>
        {{/if}}
      </select>
    </div>

    <script id="process-item-template" type="text/x-handlebars-template">
      <li class="process-item">
        <input type="text" class="process btn btn-default navbar-btn"
               data-model="Processteg" data-slug="\{{ slug }}"
               data-field="title" data-update="true" value="\{{ title }}"  data-saved="\{{title}}"/>
        <i class="glyphicon glyphicon-remove"></i>
      </li>
    </script>

    <ul class="nav nav-pills">
      {{#each processes}}
        <li class="process-item" data-model="Processteg" data-slug="{{ slug }}">
          <input type="text" class="process btn btn-default navbar-btn" value="{{ title }}"
                 data-model="Processteg" data-slug="{{ slug }}"
                 data-field="title" data-update="true" data-saved="{{title}}"/>
          <i class="glyphicon glyphicon-remove" 
             data-model="Processteg" data-slug="{{ slug }}"
             data-remove="true"></i>
        </li>
      {{/each}}
      <li class="form-group has-feedback newProcess">
        <input type="text" class="form-control" placeholder="Ny process"
               data-model="Processteg" data-slug="{{ slug }}"
               data-create="true"/>
        <i class="glyphicon glyphicon-plus form-control-feedback"></i>
      </li>
      <li>
        <button type="button" class="btn-checklist btn btn-default navbar-btn" data-id="checklist" id="checklist">
          Plocklista
        </button>
      </li>
    </ul>

    <script id="process-content-item-template" type="text/x-handlebars-template">
      {{renderPartial 'process-content-item'}}
    </script>
    <script id="process-content-template" type="text/x-handlebars-template">
      <div class="process-content" data-model="Processteg" data-slug="\{{ slug }}" data-id="\{{ _id }}"
           style="display: none;">
      </div>
    </script>
    
    {{#each processes}}
      <div class="process-content" data-model="Processteg" data-slug="{{ slug }}" data-id="{{ _id }}"
           style="{{#if @index}}display: none;{{/if}}">
        {{#each contents}}
          {{> process-content-item}}
        {{/each}}
        {{> process-content-item noData=1}}
      </div>
    {{/each}}

    <div class="process-content" id="contentchecklist" style="display: none;">
      <table class="table articleTable">
        <tr class="table-headerstriped">
          <th class="centered">Antal</th>
          <th class="centered">Namn</th>
          <th class="centered">Artikelnummer</th>
          <th class="centered">Klinik</th>
          <th class="centered">Förråd</th>
          <th class="centered">Sektion</th>
          <th class="centered">Hylla</th>
          <th class="centered">Fack</th>
          <th class="centered"></th>
        </tr>

        {{# each articles }}
          {{> article }}
        {{/each}}
      </table>

      <div id="editChecklist">
        <div class="search-box articleSearch">
          <input type="search" id="article-search" class="form-control article-search" placeholder="Sök ny artikel"/>
        </div>
        <div id="kartotekResults"></div>
      </div>
    </div>

    <a href="/info/{{data.slug}}" target="_blank" class="btn btn-primary">Förhandstitt</a>
    <a class="btn btn-primary toReview" data-val="Granskning"
            data-model="Operation" data-slug="{{ data.slug }}"
            data-field="state" data-update="true"">Skicka till granskning</a>
  </form>
</div>

<script id="kartotekResults-template" type="text/x-handlebars-template">
  <table class="table table-striped table-bordered table-hover" id="result-table">
    <thead>
    <tr>
      <th>Namn</th>
      <th class="centered">Artikelnummer</th>
      <th class="centered">Klinik</th>
      <th class="centered">Förråd</th>
      <th class="centered">Sektion</th>
      <th class="centered">Hylla</th>
      <th class="centered">Fack</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    \{{#each results}}
    <tr class="add-article-info" data-name="\{{ name }}" data-kartotekid="\{{ _id }}">
      <td>
        <div>\{{ name }}</div>
        <div class="tags">\{{ tags }}</div>
      </td>
      <td class="centered">Artikelnummer</td>
      <td class="centered">Klinik</td>
      <td class="centered">\{{storage}}</td>
      <td class="centered">\{{section}}</td>
      <td class="centered">\{{shelf}}</td>
      <td class="centered">\{{tray}}</td>
      <td class="add-column">
        <span class="add-icons glyphicon glyphicon-plus"></span>
      </td>
    </tr>
    \{{/each}}
    </tbody>
  </table>
</script>

<script id="article-template" type="text/x-handlebars-template">
  {{renderPartial 'article'}}
</script>
