{{!< default}}
<div class="container" xmlns="http://www.w3.org/1999/html">
  <form method="POST" class="operationForm">
    <div class="lastSave">
      Sparad: 
      <span class="time">
        {{#if data.updatedAt }}
          {{ data.updatedAt }}
        {{/if}}
      </span>
    </div>
    {{#if data._id }}
      <input type="text" id="operation" name="_id" value="{{data._id}}" class="hidden"/>
    {{/if}}
    {{#if data.slug }}
      <input type="text" name="operationSlug" value="{{data.slug}}" class="hidden"/>
    {{/if}}
    <div id="name">
      Namn:
      <input class="form-control" type="text" name="name" {{#ifeq data.slug "mall" }} disabled="disabled" {{/ifeq}}
             value="{{data.title}}" placeholder="Namn"/>
    </div>
    <div id="synonyms">Synonymer: <input class="form-control tags" type="text" name="tags" placeholder="Synonymer"
                                         value="{{data.tags}}"/></div>
    <div id="specialty">Specialitet: <select name="specialty" {{#ifeq data.slug "mall" }} disabled="disabled" {{/ifeq}}
                                             class="specialitet-select">
      {{#if data.specialty }}
        <option value="{{data.specialty._id}}" selected="selected">{{data.specialty.name}}</option>
      {{ else }}
        <option value="none" selected="selected">Lägg till specialitet</option>
      {{/if}}
    </select></div>

    <div class="hidden data">
      <div class="data-operation">
        {{#eachProperty data}}
          <input type="text" data-operation="{{property}}" value="{{value}}"/>
        {{/eachProperty}}
      </div>
      <div class="data-processes">
        {{#each processes}}
          <div data-process-id="{{ _id }}" data-process-index="{{ @index }}">
            {{#eachProperty this}}
              <input type="text" data-process="{{property}}" value="{{value}}"/>
            {{/eachProperty}}
            <div class="data-processContents">
              {{#each contents}}
                <div data-content-id="{{ _id }}" data-content-index="{{ @index }}">
                  {{#eachProperty this}}
                    <input type="text" data-process-content="{{property}}" value="{{value}}"/>
                  {{/eachProperty}}
                </div>
              {{/each}}
            </div>
          </div>
        {{/each}}
      </div>
      <div class="data-plocklista">
        {{#each articles}}
          <div data-id="{{ _id }}" data-index="{{ @index }}">
            {{#eachProperty this}}
              <input type="text" data-article="{{property}}" value="{{value}}"/>
            {{/eachProperty}}
          </div>
        {{/each}}
      </div>
    </div>

    <ul class="nav nav-pills">

      <li class="process-item hidden">
        <input type="text" class="process btn btn-default navbar-btn"
               data-id="-1">
        <i class="glyphicon glyphicon-remove"></i>
      </li>
      {{#each processes}}
        <li class="process-item">
          <input type="text" name="process{{@index}}" value="{{title}}" class="process btn btn-default navbar-btn"
                 data-id="{{@index}}">
          <i class="glyphicon glyphicon-remove"></i>
        </li>
      {{/each}}
      <li class="form-group has-feedback newProcess">
        <input type="text" class="form-control" placeholder="Ny"/>
        <i class="glyphicon glyphicon-plus form-control-feedback"></i>
      </li>
      <li>
        <button type="button" class="btn-checklist btn btn-default navbar-btn" data-id="checklist" id="checklist">Plocklista</button>
      </li>
    </ul>

    <div class="process-content mall hidden" id="contentMall">
      {{> process-content-item extraClass='hidden'}}
      {{> process-content-item extraClass='init'}}
    </div>
    {{#each processes}}
      <div class="process-content" id="content{{@index}}" data-id="{{@index}}"
           style="{{#if @index}}display: none;{{/if}}">
        {{> process-content-item extraClass='hidden'}}
        {{#each contents}}
          <input class="hidden" type="text" name="content{{@../index}}Id{{@index}}" value="{{ _id }}"/>

          {{> process-content-item}}
        {{/each}}
        {{> process-content-item extraClass='init'}}
      </div>
    {{/each}}
    
      <div class="process-content" id="contentchecklist" style="display: none;">
        <table class="table articleTable">
          <tr class="table-headerstriped">
            <td class="centered">Antal</td>
            <td class="centered">Namn</td>
            <td class="centered">Förråd</td>
            <td class="centered">Sektion</td>
            <td class="centered">Hylla</td>
            <td class="centered">Fack</td>
            <td class="centered"></td>
          </tr>
        
        {{# each articles }}
          {{> article }}
        {{/each}}
        </table>
        
        <div id="editChecklist">
          <div class="search-box articleSearch">
            <input type="search" id="article-search" class="form-control article-search" placeholder="Sök ny artikel" />
          </div>
          <div id="kartotekResults"></div>
        </div>
      </div>

    <a href="/info/{{data.slug}}" target="_blank" class="btn btn-primary">Förhandstitt</a>
    <a href="" class="btn btn-primary toReview">Skicka till granskning</a>
  </form>
</div>

<script id="kartotekResults-template" type="text/x-handlebars-template">
  <table class="table table-striped table-bordered table-hover" id="result-table">
    \{{a}}
    \{{#each results}}
    <tr class="add-article-info">
      <td>
        <div>\{{ name }}</div>
        <div class="tags">\{{ tags }}</div>
      </td>
      <td class="add-column" data-name="\{{ name }}" data-kartotekid="\{{ _id }}">
        <span class="add-icons glyphicon glyphicon-plus"></span>
      </td>
    </tr>
    \{{/each}}
  </table>
</script>

<script id="article-template" type="text/x-handlebars-template">
  {{renderPartial 'article'}}
</script>
