{{!< default}}
<div class="container" xmlns="http://www.w3.org/1999/html">
  <form method="POST" class="operationForm">
    <div class="lastSave">
      Sparad: 
      <span class="time">
        {{#if data.updatedAt }}
          {{ data.updatedAt }}
        {{/if}}
      </span>
    </div>
    {{#if data._id }}
      <input type="text" name="_id" value="{{data._id}}" class="hidden"/>
    {{/if}}
    {{#if data.slug }}
      <input type="text" name="operationSlug" value="{{data.slug}}" class="hidden"/>
    {{/if}}
    <div id="name">
      Namn:
      <input class="form-control" type="text" name="name" {{#ifeq data.slug "mall" }} disabled="disabled" {{/ifeq}}
             value="{{data.title}}" placeholder="Namn"/>
    </div>
    <div id="synonyms">Synonymer: <input class="form-control tags" type="text" name="tags" placeholder="Synonymer"
                                         value="{{data.tags}}"/></div>
    <div id="specialty">Specialitet: <select name="specialty" {{#ifeq data.slug "mall" }} disabled="disabled" {{/ifeq}}
                                             class="specialitet-select">
      {{#if data.specialty }}
        <option value="{{data.specialty._id}}" selected="selected">{{data.specialty.name}}</option>
      {{ else }}
        <option value="none" selected="selected">Lägg till specialitet</option>
      {{/if}}
    </select></div>

    <div class="hidden data">
      <div class="data-operation">
        {{#eachProperty data}}
          <input type="text" data-operation="{{property}}" value="{{value}}"/>
        {{/eachProperty}}
      </div>
      <div class="data-processes">
        {{#each processes}}
          <div data-process-id="{{ _id }}" data-process-index="{{ @index }}">
            {{#eachProperty this}}
              <input type="text" data-process="{{property}}" value="{{value}}"/>
            {{/eachProperty}}
            <div class="data-processContents">
              {{#each contents}}
                <div data-content-id="{{ _id }}" data-content-index="{{ @index }}">
                  {{#eachProperty this}}
                    <input type="text" data-process-content="{{property}}" value="{{value}}"/>
                  {{/eachProperty}}
                </div>
              {{/each}}
            </div>
          </div>
        {{/each}}
      </div>
      <div class="data-plocklista">
        {{#each articles}}
          <div data-id="{{ _id }}" data-index="{{ @index }}">
            {{#eachProperty this}}
              <input type="text" data-article="{{property}}" value="{{value}}"/>
            {{/eachProperty}}
          </div>
        {{/each}}
      </div>
    </div>

    <ul class="nav nav-pills">

      <li class="process-item hidden">
        <input type="text" class="process btn btn-default navbar-btn"
               data-id="-1">
        <i class="glyphicon glyphicon-remove"></i>
      </li>
      {{#each processes}}
        <li class="process-item">
          <input type="text" name="process{{@index}}" value="{{title}}" class="process btn btn-default navbar-btn"
                 data-id="{{@index}}">
          <i class="glyphicon glyphicon-remove"></i>
        </li>
      {{/each}}
      <li class="form-group has-feedback newProcess">
        <input type="text" class="form-control" placeholder="Ny"/>
        <i class="glyphicon glyphicon-plus form-control-feedback"></i>
      </li>
      <li>
        <button type="button" class="btn btn-default navbar-btn" id="checklist">Plocklista</button>
      </li>
    </ul>

    <div class="process-content mall hidden" id="contentMall">
      <div class="process-content-item hidden">
          <span class="contentTitle">
            <input class="form-control rubrik" type="text" value="" placeholder="Ny rubrik"/>
            <span>
             Checkbar: 
             <input type="checkbox" class="checkAble" value="true">
            </span>
          </span>
          <span class="contentText">
            <textarea class="information" placeholder="Ny beskrivning"></textarea>
          </span>
        <i class="glyphicon glyphicon-remove"></i>
      </div>
      <div class="process-content-item init">
          <span class="contentTitle">
            <input class="form-control rubrik" type="text" value="" placeholder="Ny rubrik"/>
            <span>
             Checkbar: 
             <input type="checkbox" class="checkAble" value="true">
            </span>
          </span>
          <span class="contentText">
            <textarea class="information" placeholder="Ny beskrivning"></textarea>
          </span>
        <i class="glyphicon glyphicon-remove"></i>
      </div>
    </div>
    {{#each processes}}
      <div class="process-content" id="content{{@index}}" data-id="{{@index}}"
           style="{{#if @index}}display: none;{{/if}}">
        <div class="process-content-item hidden">
                      <span class="contentTitle"><input class="form-control rubrik" type="text" value=""
                                                        placeholder="Ny rubrik"/></span>
                      <span class="contentText"><textarea class="information"
                                                          placeholder="Ny beskrivning"></textarea></span>
        </div>
        {{#each contents}}
          <input class="hidden" type="text" name="content{{@../index}}Id{{@index}}" value="{{ _id }}"/>

          <div class="process-content-item" data-parent="{{@../index}}" data-id="{{@index}}">
            <span class="contentTitle">
               <input class="form-control rubrik" type="text" name="content{{@../index}}title{{@index}}"
                      value="{{ title }}"/>
                 <span>
                   Checkbar: 
                   <input type="checkbox" class="checkAble" {{#if checkAble}}
                          checked="checked" {{/if}}value="true">
                 </span>
            </span>
            <span class="contentText">
              <textarea class="information" name="content{{@../index}}text{{@index}}">{{ text }}</textarea>
              </span>
            <i class="glyphicon glyphicon-remove"></i>
          </div>
        {{/each}}
        <div class="process-content-item init" data-parent="{{@index}}">
          <span class="contentTitle">
            <input class="form-control rubrik" type="text" value="" placeholder="Ny rubrik"/>
            <span>
             Checkbar: 
             <input type="checkbox" class="checkAble" {{#if checkAble}} checked="checked" {{/if}}value="true">
            </span>
          </span>
          <span class="contentText">
            <textarea class="information" placeholder="Ny beskrivning"></textarea>
          </span>
          <i class="glyphicon glyphicon-remove"></i>
        </div>
      </div>
    {{/each}}


    {{#if articles}}
      <div class="process-content" id="contentchecklist" style="display: none;">
        <table class="table">
          <tr class="table-headerstriped">
            <td></td>
            <td>Namn</td>
            <td>Antal</td>
            <td>Förråd</td>
            <td>Sektion</td>
            <td>Hylla</td>
            <td>Fack</td>
          </tr>
          {{# each articles }}
            <tr data-kartotekID="{{kartotek._id}}" data-operationId="{{operation}}" class="check-js"
                id={{_id}}>
              <td><input type="checkbox" class="checkbox-js" id="{{_id}}"></td>
              <td>{{ kartotek.name }}</td>
              <td>{{ amount }}</td>
              <td>{{ kartotek.storage }}</td>
              <td>{{ kartotek.section }}</td>
              <td>{{ kartotek.shelf }}</td>
              <td>{{ kartotek.tray }}</td>
            </tr>
          {{/each}}
        </table>
      </div>
    {{/if}}

    <!--<input type="submit" id="saveButton" class="btn btn-primary" name="action" value="Spara">-->
  </form>
</div>
