{{!< default}}

<div class="container">
  <table class="table">
    <tr class="table-headerstriped">
      <td></td>
      <td>Namn</td>
      <td>Förråd</td>
      <td>Sektion</td>
      <td>Hylla</td>
      <td>Fack</td>
    </tr>
    {{# each checks }}
      <tr class="check-js" id={{id}}>
        <td><input type="checkbox" class="check-js"></td>
        <td>{{ name }}</td>
        <td>{{ storage }}</td>
        <td>{{ section }}</td>
        <td>{{ shelf }}</td>
        <td>{{ tray }}</td>
      </tr>
    {{/each}}
  </table>
</div>
