{{!< default}}
<div class="container">
    <div id="opName">{{data.title}}</div>
    <div id ="specialty">Specialitet: {{data.specialty.name}}</div>
  
    <ul class="nav nav-pills">
      {{#each processes}}
          <button type="button" class="btn btn-default navbar-btn" id="{{@index}}">{{title}}</button>
      {{/each}}
    </ul>

  {{#each processes}}
      <div class="process-content" id="content{{@index}}">{{{content}}}</div>
  {{/each}}
    
    
    
    <script>
      var showContent = function(content) {
          console.log("hej");
      };
      
      $(document).ready(function() {

          $(".process-content").hide();
          $("#content0").show();
          $("#0").addClass('active');
          
          $(".nav-pills > .navbar-btn").click(function() {
              $(this).addClass('active').siblings().removeClass('active');
              $(".process-content").hide();
              $("#content"+this.id).show();
              
          });
      });
      
    </script>

</div>



<!--<script src="/js/info.js"></script>>
