{{!< default}}
<div class="container" xmlns="http://www.w3.org/1999/html">

  <h2>
    {{#ifeq data.state 'Publicerad'}}
      {{#if data.template}}
        Publicerad Handbok
      {{else}}
        Operationsförberedelse
      {{/if}}
    {{/ifeq}}

    {{#ifeq data.state 'Granskning'}}
      Granskning
    {{/ifeq}}
    {{#ifeq data.state 'Utkast'}}
      Förhandstitt
    {{/ifeq}}
  </h2>

  <div id="opName" data-operationId="{{data._id}}" data-operationSlug="{{data.slug}}" data-template="{{data.template}}">
    {{#unless data.template}}
      <div id='btn-done' data-slug='{{ data.slug }}' class="btn btn-primary {{#if data.isDone}} btn-done {{/if}}">
        <span class="glyphicon glyphicon-ok"></span>
      </div>
    {{/unless}}
    {{data.title}}
  </div>

  {{#if data.specialty.name}}
    <div id ="specialty">Specialitet: {{data.specialty.name}}</div>
  {{/if}}

  {{#if data.tags}}
    <div id ="synonyms">Synonymer: {{data.tags}}</div>
  {{/if}}

  {{#unless data.template}}
    <div id="lindaid">Linda-ID: {{data.linda_id}}</div>
  {{/unless}}


  <!--nav nav-pills-->
  <!--btn btn-default navbar-btn-->
  <ul class="nav nav-pills">
    <button type="button" class="btn btn-default navbar-btn" id="all">All information</button>
    {{#each processes}}
      <button type="button" class="btn btn-default navbar-btn" id="{{@index}}">{{title}}</button>
    {{/each}}
    <button type="button" class="btn btn-default navbar-btn" id="checklist">Engångsmaterial</button>
  </ul>

  {{#each processes}}
    <div class="process-content" id="content{{@index}}">
      {{#each contents}}
        <div class="process-content-item check-js" data-operationId="{{../operation}}" data-preparation="true" id="{{_id}}">
          {{#if checkAble}}
            <input type="checkbox" class="checkbox-js" {{#if checked}} checked="checked" {{/if}} id="processCheck{{_id}}">
          {{/if}}
          <span class="contentTitle">{{title}}</span>
          <span class="contentText">{{{text}}}</span>
        </div>
      {{/each}}
    </div>
  {{/each}}
  
  <div class="process-content" id="contentchecklist">

    <table class="table articleTable">
      <tr class="table-headerstriped">
        {{#unless data.template}}
          <th></th>
        {{/unless}}
        <th class="centered">Antal</th>
        <th>Namn</th>
        <th class="centered">Artikelnummer</th>
        <th class="centered">Klinik</th>
        <th class="centered">Förråd</th>
        <th class="centered">Sektion</th>
        <th class="centered">Hylla</th>
        <th class="centered">Fack</th>
        {{#unless data.template}}
          <th class="centered"></th>
        <th class="centered-remove" style="display:none">
        {{/unless}}
      </tr>
      <tbody>
      {{#if articles}}
        {{# each articles }}
          {{> comment }}
          {{#include parent=..}}
            {{> checkArticle}}
          {{/include}}
        {{/each}}
      {{/if}}
      </tbody>
    </table>

    {{#unless data.template}}
      <div style="display:none" id="editChecklist">
        <div class="search-box form-group has-feedback article-search articleSearch">
          <input type="search" id="article-search" class="form-control article-search" placeholder="Sök ny artikel" />
          <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>
        <div id="kartotekResults"></div>
      </div>
      <button type="button" id="editChecklistButton" class="btn btn-primary">Redigera plocklista</button>
    {{/unless}}
  </div>

  {{#if data.template}}

    {{#ifeq data.state 'Utkast'}}
      <a href="/edit/{{data.slug}}" class="btn btn-primary">Redigera</a>
    {{/ifeq}}

    {{#ifeq data.state 'Granskning'}}
      <button class="btn btn-primary publicera">Publicera</button>
      <a href="/edit/{{data.slug}}" class="btn btn-primary">Redigera</a>
    {{/ifeq}}

    {{#ifeq data.state 'Publicerad'}}
      <form method="get" id="createOperationInstanceButton">
        <input type="hidden" name="operation" value="create">
        <input type="hidden" name="operationId" value="{{data._id}}">
        <input type="button" value="Påbörja förberedelse" class="btn btn-primary" data-toggle="modal" data-target="#start">

        <!-- Modal -->
        <div class="modal fade" id="start" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel">Påbörja operationsförberedelse</h4>
              </div>
              <div class="modal-body">
                <label>LindaID:</label>
                <input type="text" id="lindaID" name="linda" class="form-control" autocomplete="off" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary pop-up-window" data-dismiss="modal">Stäng</button>
                <button type="submit" class="btn btn-primary pop-up-window">Påbörja förberedelse</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <a href="/edit/{{data.slug}}" class="btn btn-primary">Redigera</a>
    {{/ifeq}}
  {{else}}
    {{>removePreparation _id=data._id slug=data.slug}}
    <div data-toggle='modal' data-target='#alertRemovePreparation' data-slug='{{ data.slug }}' class="btn btn-danger">Ta bort förberedelse</div>
  {{/if}}
</div>

<script id="kartotekResults-template" type="text/x-handlebars-template">
  <table class="table table-striped table-bordered table-hover" id="result-table">
    <thead>
    <tr>
      <th>Namn</th>
      <th class="centered">Artikelnummer</th>
      <th class="centered">Klinik</th>
      <th class="centered">Förråd</th>
      <th class="centered">Sektion</th>
      <th class="centered">Hylla</th>
      <th class="centered">Fack</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    \{{#each results}}
    <tr class="add-article-info" data-name="\{{ name }}" data-kartotekid="\{{ _id }}">
      <td>
        <div>\{{ name }}</div>
        <div class="tags">\{{ tags }}</div>
      </td>
      <td class="centered">\{{articleNumber}}</td>
      <td class="centered">\{{clinic}}</td>
      <td class="centered">\{{storage}}</td>
      <td class="centered">\{{section}}</td>
      <td class="centered">\{{shelf}}</td>
      <td class="centered">\{{tray}}</td>
      <td class="add-column">
        <span class="add-icons glyphicon glyphicon-plus"></span>
      </td>
    </tr>
    \{{/each}}
    </tbody>
  </table>
</script>

<script id="article-template" type="text/x-handlebars-template">
  {{renderPartial 'checkArticle'}}
</script>

<script id="comment-template" type="text/x-handlebars-template">
  {{renderPartial 'comment'}}
</script>
