{{!< default}}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div id="opName">
      {{data.title}}
    </div>
  
  {{#if data.specialty.name}}
    <div id ="specialty">Specialitet: {{data.specialty.name}}</div>
  {{/if}}

  {{#if data.tags}}
      <div id ="synonyms">Synonymer: {{data.tags}}</div>
  {{/if}}

    <!--nav nav-pills-->
    <!--btn btn-default navbar-btn-->
    <ul class="nav nav-pills">
      {{#each processes}}
          <button type="button" class="btn btn-default navbar-btn" id="{{@index}}">{{title}}</button>
      {{/each}}
    {{#if articles}}
        <button type="button" class="btn btn-default navbar-btn" id="checklist">Plocklista</button>
    {{/if}}
    </ul>

    {{#each processes}}
      <div class="process-content" id="content{{@index}}">
      {{#each contents}}
        <div class="process-content-item">
            <span class="contentTitle">{{title}}</span>
            <span class="contentText">{{{text}}}</span>
        </div>
      {{/each}}
        {{#each prepares}}
            <div class="process-content-item">
                <span class="prepareTitle">{{title}}</span>
                <span class="prepareText">{{{text}}}</span>
            </div>
        {{/each}}
      </div>
    {{/each}}


{{#if articles}}
    <div class="process-content" id="contentchecklist">
        <table class="table">
            <tr class="table-headerstriped">
                <td></td>
                <td>Antal</td>
                <td>Namn</td>
                <td>Förråd</td>
                <td>Sektion</td>
                <td>Hylla</td>
                <td>Fack</td>
            </tr>
          {{# each articles }}
              <tr data-kartotekID="{{kartotek._id}}" data-operationId="{{operation}}" class="check-js" id={{_id}}>
                  <td><input type="checkbox" class="checkbox-js" id="{{_id}}"></td>
                  <td>{{ amount }}</td>
                  <td>{{ kartotek.name }}</td>
                  <td>{{ kartotek.storage }}</td>
                  <td>{{ kartotek.section }}</td>
                  <td>{{ kartotek.shelf }}</td>
                  <td>{{ kartotek.tray }}</td>
              </tr>
          {{/each}}
        </table>
    </div>
{{/if}}
  
  {{#if data.template}}
      <form method="get" id="createOperationInstanceButton">
          <input type="hidden" name="operation" value="create">
          <input type="hidden" name="operationId" value="{{data._id}}">
          <input type="submit" value="Skapa operation" class="btn btn-primary">
      </form>
  {{/if}}
  <a href="/edit/{{data.slug}}" class="btn btn-primary">Redigera</a>
</div>
