{{!< default}}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div id="opName">
      {{data.title}}
    </div>
  
  {{#if data.specialty.name}}
    <div id ="specialty">Specialitet: {{data.specialty.name}}</div>
  {{/if}}

  {{#if data.tags}}
      <div id ="synonyms">Synonymer: {{data.tags}}</div>
  {{/if}}

  {{#unless data.template}}
    <div id="lindaid">Linda-ID: {{data.linda_id}}</div>
  {{/unless}}

    <!--nav nav-pills-->
    <!--btn btn-default navbar-btn-->
    <ul class="nav nav-pills">
      <button type="button" class="btn btn-default navbar-btn" id="all">All information</button>
      {{#each processes}}
          <button type="button" class="btn btn-default navbar-btn" id="{{@index}}">{{title}}</button>
      {{/each}}
    {{#if articles}}
        <button type="button" class="btn btn-default navbar-btn" id="checklist">Plocklista</button>
    {{/if}}
    </ul>

    {{#each processes}}
      <div class="process-content" id="content{{@index}}">
      {{#each contents}}
        <div class="process-content-item check-js" data-operationId="{{../operation}}" data-preparation="true" id="{{_id}}">
            {{#if checkAble}}
                
            {{/if}}
            <input type="checkbox" class="checkbox-js" id="processCheck{{_id}}">
            <span class="contentTitle">{{title}}</span>
            <span class="contentText">{{{text}}}</span>
        </div>
      {{/each}}
        {{#each prepares}}
            <div class="process-content-item">
                <span class="prepareTitle">{{title}}</span>
                <span class="prepareText">{{{text}}}</span>
            </div>
        {{/each}}
      </div>
    {{/each}}


{{#if articles}}
    <div class="process-content" id="contentchecklist">
        <table class="table">
            <tr class="table-headerstriped">
                <td></td>
                <td class="centered">Antal</td>
                <td class="centered">Namn</td>
                <td class="centered">Förråd</td>
                <td class="centered">Sektion</td>
                <td class="centered">Hylla</td>
                <td class="centered">Fack</td>
                <td class="centered comment-header">Kommentar</td>
            </tr>
          {{# each articles }}
              <tr data-kartotekID="{{kartotek._id}}" data-operationId="{{operation}}" data-preparation="false", class="check-js" id={{_id}}>
                  <td><input type="checkbox" class="checkbox-js" id="{{_id}}"></td>
                  <td class="centered"><b>{{ amount }}</b></td>
                  <td class="centered">{{ kartotek.name }}</td>
                  <td class="centered">{{ kartotek.storage }}</td>
                  <td class="centered">{{ kartotek.section }}</td>
                  <td class="centered">{{ kartotek.shelf }}</td>
                  <td class="centered">{{ kartotek.tray }}</td>
                  <td class="centered">
                      <button id="commentButton{{_id}}" data-id="{{_id}}" type="button" class="btn btn-primary btn-lg showComment" data-toggle="modal" data-target="#checkCommentModal{{_id}}">
                          <p class="glyphicon glyphicon-comment"></p>
                      </button>
                  </td>

                  <div class="modal fade" id="checkCommentModal{{_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  <h4 class="modal-title" id="myModalLabel">Kommentar för: {{kartotek.name}}</h4>
                              </div>
                              <div class="modal-body">
                                  <textarea id="checkComment{{_id}}" rows="8" cols="60">{{ comment }}</textarea>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" data-id="{{_id}}" class="btn btn-default cancelComment" data-dismiss="modal">Stäng</button>
                                  <button id="saveComment{{_id}}" data-message="" data-id="{{_id}}" type="button" class="btn btn-primary saveComment">Spara</button>
                                  <p></p>
                                  <p id="commentSaved{{_id}}">Sparad!</p>
                              </div>
                          </div>
                      </div>
                  </div>
                </tr>
          {{/each}}
        </table>
    </div>
{{/if}}
  
  {{#if data.template}}
      <form method="get" id="createOperationInstanceButton">
          <input type="hidden" name="operation" value="create">
          <input type="hidden" name="operationId" value="{{data._id}}">
          <input type="button" value="Påbörja förberedelse" class="btn btn-primary" data-toggle="modal" data-target="#start">

          <!-- Modal -->
          <div class="modal fade" id="start" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="modalLabel">Påbörja operationsförberedelse</h4>
                </div>
                <div class="modal-body">
                  <label>LindaID:</label>
                  <input type="text" id="lindaID" name="linda" class="form-control"/>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
                  <button type="submit" class="btn btn-primary">Påbörja förberedelse</button>
                </div>
              </div>
            </div>
          </div>
      </form>
  {{/if}}

  <a href="/edit/{{data.slug}}" class="btn btn-primary">Redigera</a>

</div>
