{{!< default}}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div id="opName">
      {{data.title}}
    </div>
  
  {{#if data.specialty.name}}
    <div id ="specialty">Specialitet: {{data.specialty.name}}</div>
  {{/if}}

  {{#if data.tags}}
      <div id ="synonyms">Synonymer: {{data.tags}}</div>
  {{/if}}

    <!--nav nav-pills-->
    <!--btn btn-default navbar-btn-->
    <ul class="nav nav-pills">
      {{#each processes}}
          <button type="button" class="btn btn-default navbar-btn" id="{{@index}}">{{title}}</button>
      {{/each}}
    {{#if articles}}
        <button type="button" class="btn btn-default navbar-btn" id="checklist">Plocklista</button>
    {{/if}}
    </ul>

    {{#each processes}}
      <div class="process-content" id="content{{@index}}">
      {{#each contents}}
        <div class="process-content-item">
            <span class="contentTitle">{{title}}</span>
            <span class="contentText">{{{text}}}</span>
        </div>
      {{/each}}
        {{#each prepares}}
            <div class="process-content-item">
                <span class="prepareTitle">{{title}}</span>
                <span class="prepareText">{{{text}}}</span>
            </div>
        {{/each}}
      </div>
    {{/each}}


{{#if articles}}
    <div class="process-content" id="contentchecklist">
        <table class="table">
            <tr class="table-headerstriped">
                <td></td>
                <td>Antal</td>
                <td>Namn</td>
                <td>Förråd</td>
                <td>Sektion</td>
                <td>Hylla</td>
                <td>Fack</td>
            </tr>
          {{# each articles }}
              <tr data-kartotekID="{{kartotek._id}}" data-operationId="{{operation}}" class="check-js" id={{_id}}>
                  <td><input type="checkbox" class="checkbox-js" id="{{_id}}"></td>
                  <td>{{ amount }}</td>
                  <td>{{ kartotek.name }}</td>
                  <td>{{ kartotek.storage }}</td>
                  <td>{{ kartotek.section }}</td>
                  <td>{{ kartotek.shelf }}</td>
                  <td>{{ kartotek.tray }}</td>
              </tr>
          {{/each}}
        </table>

      
      <div style="display:none" id="editChecklist">
          <div class="search-box articleSearch">
              <input type="search" id="article-search" class="form-control article-search" placeholder="Sök kartotekartikel" />
          </div>
          <div id="kartotekResults"></div>
      </div>
      
      
      {{#unless data.template}}
          <button type="button" id="editChecklistButton" class="btn btn-primary">Redigera plocklista</button>
      {{/unless}}
        
    </div>
  
{{/if}}
  
  {{#if data.template}}
      <form method="get" id="createOperationInstanceButton">
          <input type="hidden" name="operation" value="create">
          <input type="hidden" name="operationId" value="{{data._id}}">
          <input type="submit" value="Skapa operation" class="btn btn-primary">
      </form>
  
      <a href="/edit/{{data.slug}}" class="btn btn-primary">Redigera</a>

  {{/if}}
    
</div>

<script id="kartotekResults-template" type="text/x-handlebars-template">
    <table class="table table-striped table-bordered table-hover" id="result-table">
      \{{a}}
      \{{#each results}}
        <tr>
            <td>
                <div>\{{ name }}</div>
                <div class="tags">\{{ tags }}</div>
            </td>
            <td class="add-column" data-name="\{{ name }}" data-kartotekid="\{{ _id }}">
                <span class="add-icon glyphicon glyphicon-plus"></span>
            </td>
        </tr>
      \{{/each}}
    </table>
</script>
