{{!< default}}

<div class="container">
  <h2>Handböcker att granska</h2>
  {{#if operations.length}}
    <div class="row">
      {{#each operations }}
        <div class="col-md-6 operation" data-id="{{ _id }}">
          <div class="operation-card">
            <a href="/info/{{ slug }}"></a>

            <div class="title">{{ title }}&nbsp;</div>
            <div class="tags">{{ tags }}&nbsp;</div>
          </div>
        </div>
      {{/each}}
    </div>
  {{ else }}
    <p>
      Just nu finns det inga operationer att granska.
    </p>
  {{/if}}
</div>
