{{!< default}}

<script id="modify-template" type="text/x-handlebars-template">
  \{{#if isModifyable}}
  <input type="text" class="form-control" value="\{{value}}" id="currently-modifying"/>
  \{{else}}
  <span>\{{ value }}</span>
  \{{/if}}
</script>

<!-- We're essentially duplicating code here. We should really separate this template into a separate file, used by both node and the front-end. -->
<script id="articles-template" type="text/x-handlebars-template">
  <tr class="table-headerstriped">
    <td>Namn</td>
    <td>Synonymer</td>
    <td>Förråd</td>
    <td>Sektion</td>
    <td>Hylla</td>
    <td>Fack</td>
    {{#if user.isAdmin}}
      <td class="\{{#unless showAllColumns}}hidden \{{/unless}}toggable">Pris</td>
      <td class="\{{#unless showAllColumns}}hidden \{{/unless}}toggable">Artikelnummer (sjukhuset)</td>
      <td class="\{{#unless showAllColumns}}hidden \{{/unless}}toggable">Klinik</td>
      <td class="\{{#unless showAllColumns}}hidden \{{/unless}}toggable">Leverantör</td>
      <td class="\{{#unless showAllColumns}}hidden \{{/unless}}toggable">Artikelnummer (leverantör)</td>
      <td class="\{{#unless showAllColumns}}hidden \{{/unless}}toggable">Beställningspunkt</td>
      <td class="\{{#unless showAllColumns}}hidden \{{/unless}}toggable">Mängd</td>
      <td class="\{{#unless showAllColumns}}hidden \{{/unless}}toggable">Enhet</td>
      <td class="\{{#unless showAllColumns}}hidden \{{/unless}}toggable">peoe</td>
      <td></td>
    {{/if}}
  </tr>

  {{#if user.isAdmin}}
    <tr class="\{{#unless showAllColumns}}hidden \{{/unless}}" id="\{{_id}}">
      <td><input data-name="name"    type="text" class="form-control modify-input" placeholder="Namn..."/></td>
      <td><input data-name="tags"    type="text" class="form-control modify-input" placeholder="Synonymer..."/></td>
      <td><input data-name="storage" type="text" class="form-control modify-input" placeholder="Förråd..."/></td>
      <td><input data-name="section" type="text" class="form-control modify-input" placeholder="Sektion..."/></td>
      <td><input data-name="shelf"   type="text" class="form-control modify-input" placeholder="Hylla..."/></td>
      <td><input data-name="tray"    type="text" class="form-control modify-input" placeholder="Fack..."/></td>
      {{#if user.isAdmin}}
        <td class="toggable"><input data-name="price" type="text" class="form-control modify-input" placeholder="Pris..."/></td>
        <td class="toggable"><input data-name="articleNumber" type="text" class="form-control modify-input" placeholder="Artikelnummer (sjukhuset)..."/></td>
        <td class="toggable"><input data-name="clinic" type="text" class="form-control modify-input" placeholder="Klinik..."/></td>
        <td class="toggable"><input data-name="supplier" type="text" class="form-control modify-input" placeholder="Leverantör..."/></td>
        <td class="toggable"><input data-name="supplierArticleNumber" type="text" class="form-control modify-input" placeholder="Artikelnummer (Leverantör)..."/></td>
        <td class="toggable"><input data-name="orderItem" type="text" class="form-control modify-input" placeholder="Beställningspunkt..."/></td>
        <td class="toggable"><input data-name="amount" type="text" class="form-control modify-input" placeholder="Mängd..."/></td>
        <td class="toggable"><input data-name="unit" type="text" class="form-control modify-input" placeholder="Enhet..."/></td>
        <td class="toggable"><input data-name="peoe" type="text" class="form-control modify-input" placeholder="Peoe..."/></td>
      {{/if}}
      <td class="centered"><a class="btn btn-success" id="article-add" href="#" role="button"><span class="glyphicon glyphicon-plus"></span></a></td>
    </tr>
  {{/if}}

  \{{# each articles }}
  <tr class="check-js" id="\{{_id}}" data-slug="\{{slug}}">
    <!-- The reason for the additional <span> is so that we can attach an event listener
      to it, should then dissapear/not activate anymore when we replace it with an input. -->
    <td class="modifyable-article-column column-kartotek" data-name="name">\{{#modifyable slug 'name' name}}\{{/modifyable}}</td>
    <td class="modifyable-article-column column-kartotek" data-name="tags">\{{#modifyable slug 'tags' tags}}\{{/modifyable}}</td>
    <td class="modifyable-article-column column-kartotek" data-name="storage">\{{#modifyable slug 'storage' storage}}\{{/modifyable}}</td>
    <td class="modifyable-article-column column-kartotek" data-name="section">\{{#modifyable slug 'section' section}}\{{/modifyable}}</td>
    <td class="modifyable-article-column column-kartotek" data-name="shelf">\{{#modifyable slug 'shelf' shelf}}\{{/modifyable}}</td>
    <td class="modifyable-article-column column-kartotek" data-name="tray">\{{#modifyable slug 'tray' tray}}\{{/modifyable}}</td>
    {{#if user.isAdmin}}
      <td class="modifyable-article-column \{{#unless ../showAllColumns}}hidden \{{/unless}}toggable column-kartotek" data-name="price">\{{#modifyable slug 'price' price}}\{{/modifyable}}</td>
      <td class="modifyable-article-column \{{#unless ../showAllColumns}}hidden \{{/unless}}toggable column-kartotek" data-name="articleNumber">\{{#modifyable slug 'articleNumber' articleNumber}}\{{/modifyable}}</td>
      <td class="modifyable-article-column \{{#unless ../showAllColumns}}hidden \{{/unless}}toggable column-kartotek" data-name="clinic">\{{#modifyable slug 'clinic' clinic}}\{{/modifyable}}</td>
      <td class="modifyable-article-column \{{#unless ../showAllColumns}}hidden \{{/unless}}toggable column-kartotek" data-name="supplier">\{{#modifyable slug 'supplier' supplier}}\{{/modifyable}}</td>
      <td class="modifyable-article-column \{{#unless ../showAllColumns}}hidden \{{/unless}}toggable column-kartotek" data-name="supplierArticleNumber">\{{#modifyable slug 'supplierArticleNumber' supplierArticleNumber}}\{{/modifyable}}</td>
      <td class="modifyable-article-column \{{#unless ../showAllColumns}}hidden \{{/unless}}toggable column-kartotek" data-name="orderItem">\{{#modifyable slug 'orderItem' orderItem}}\{{/modifyable}}</td>
      <td class="modifyable-article-column \{{#unless ../showAllColumns}}hidden \{{/unless}}toggable column-kartotek" data-name="amount">\{{#modifyable slug 'amount' amount}}\{{/modifyable}}</td>
      <td class="modifyable-article-column \{{#unless ../showAllColumns}}hidden \{{/unless}}toggable column-kartotek" data-name="unit">\{{#modifyable slug 'unit' unit}}\{{/modifyable}}</td>
      <td class="modifyable-article-column \{{#unless ../showAllColumns}}hidden \{{/unless}}toggable column-kartotek" data-name="peoe">\{{#modifyable slug 'peoe' peoe}}\{{/modifyable}}</td>

      <td class="centered"><a class="btn btn-danger article-remove" href="#" role="button"><span class="glyphicon glyphicon-remove"></span></a></td>
    {{/if}}
    <td class="modifyable-article-column hidden column-kartotek" data-name="slug">\{{ slug }}</td>
  </tr>
  \{{/each}}
</script>

<div class="container">
  <div class="row">
    <div class="form-group has-feedback search-article">
      <input type="search" id="search-article" class="form-control" autocomplete="off" placeholder="Sök artikel..."/>
      <i class="glyphicon glyphicon-search form-control-feedback"></i>
    </div>
    {{#if user.isAdmin}}
      <input type="checkbox" id="toggle-fields"/>&nbsp;Visa alla
    {{/if}}
  </div>

  <div class="row whole-table">
    <div class="flipped">
      <div class="input-box">
        <table class="table table-striped">
          <tbody id="articles">
          <tr class="table-headerstriped">
            <td>Namn</td>
            <td>Synonymer</td>
            <td>Förråd</td>
            <td>Sektion</td>
            <td>Hylla</td>
            <td>Fack</td>
            {{#if user.isAdmin}}
              <td class="hidden">Pris</td>
              <td class="hidden">Artikelnummer (sjukhuset)</td>
              <td class="hidden">Klinik</td>
              <td class="hidden">Leverantör</td>
              <td class="hidden">Artikelnummer (Leverantör)</td>
              <td class="hidden">Beställningsnummer</td>
              <td class="hidden">Mängd</td>
              <td class="hidden">Enhet</td>
              <td class="hidden">peoe</td>
              <td></td>
            {{/if}}
          </tr>
          {{#if user.isAdmin}}
            <tr class="hidden" id="{{_id}}">
              <td><input data-name="name"    type="text" class="form-control form-name modify-input" placeholder="Namn..."/></td>
              <td><input data-name="tags"    type="text" class="form-control modify-input" placeholder="Synonymer..."/></td>
              <td><input data-name="storage" type="text" class="form-control modify-input" placeholder="Förråd..."/></td>
              <td><input data-name="section" type="text" class="form-control modify-input" placeholder="Sektion..."/></td>
              <td><input data-name="shelf"   type="text" class="form-control modify-input" placeholder="Hylla..."/></td>
              <td><input data-name="tray"    type="text" class="form-control modify-input" placeholder="Fack..."/></td>
              {{#if user.isAdmin}}
                <td class="hidden toggable"><input data-name="price" type="text" class="form-control modify-input" placeholder="Pris..."/></td>
                <td class="hidden toggable"><input data-name="articleNumber" type="text" class="form-control modify-input" placeholder="Artikelnummer (sjukhuset)..."/></td>
                <td class="hidden toggable"><input data-name="clinic" type="text" class="form-control modify-input" placeholder="Klinik..."/></td>
                <td class="hidden toggable"><input data-name="supplier" type="text" class="form-control modify-input" placeholder="Leverantör..."/></td>
                <td class="hidden toggable"><input data-name="supplierArticleNumber" type="text" class="form-control modify-input" placeholder="Artikelnummer (Leverantör)..."/></td>
                <td class="hidden toggable"><input data-name="orderItem" type="text" class="form-control modify-input" placeholder="Beställningspunkt..."/></td>
                <td class="hidden toggable"><input data-name="amount" type="text" class="form-control modify-input" placeholder="Mängd..."/></td>
                <td class="hidden toggable"><input data-name="unit" type="text" class="form-control modify-input" placeholder="Enhet..."/></td>
                <td class="hidden toggable"><input data-name="peoe" type="text" class="form-control modify-input" placeholder="Peoe..."/></td>
              {{/if}}
              <td class="centered"><a class="btn btn-success" id="article-add" href="#" role="button"><span class="glyphicon glyphicon-plus"></span></a></td>
            </tr>
          {{/if}}

          {{#each articles}}
            <tr class="check-js" id="{{_id}}" data-slug="{{slug}}">
              <!-- The reason for the additional <span> is so that we can attach an event listener
                to it, should then dissapear/not activate anymore when we replace it with an input. -->
              <td class="modifyable-article-column column-kartotek" data-name="name"><span>{{ name }}</span></td>
              <td class="modifyable-article-column column-kartotek" data-name="tags"><span>{{ tags }}</span></td>
              <td class="modifyable-article-column column-kartotek" data-name="storage"><span>{{ storage }}</span></td>
              <td class="modifyable-article-column column-kartotek" data-name="section"><span>{{ section }}</span></td>
              <td class="modifyable-article-column column-kartotek" data-name="shelf"><span>{{ shelf }}</span></td>
              <td class="modifyable-article-column column-kartotek" data-name="tray"><span>{{ tray }}</span></td>
              {{#if ../user.isAdmin}}
                <td class="modifyable-article-column hidden toggable column-kartotek" data-name="price"><span>{{ price }}</span></td>
                <td class="modifyable-article-column hidden toggable column-kartotek" data-name="articleNumber"><span>{{ articleNumber }}</span></td>
                <td class="modifyable-article-column hidden toggable column-kartotek" data-name="clinic"><span>{{ clinic }}</span></td>
                <td class="modifyable-article-column hidden toggable column-kartotek" data-name="supplier"><span>{{ supplier }}</span></td>
                <td class="modifyable-article-column hidden toggable column-kartotek" data-name="supplierArticleNumber"><span>{{ supplierArticleNumber }}</span></td>
                <td class="modifyable-article-column hidden toggable column-kartotek" data-name="orderItem"><span>{{ orderItem }}</span></td>
                <td class="modifyable-article-column hidden toggable column-kartotek" data-name="amount"><span>{{ amount }}</span></td>
                <td class="modifyable-article-column hidden toggable column-kartotek" data-name="unit"><span>{{ unit }}</span></td>
                <td class="modifyable-article-column hidden toggable column-kartotek" data-name="peoe"><span>{{ peoe }}</span></td>

                <!-- The reason this is called 'article-remove' and not 'remove-article' is because there's a conflict
                  with 'remove-article' from the /create style. We should really split up that file into multiple ones. -->
                <td class="centered"><a class="btn btn-danger article-remove" href="#" role="button"><span class="glyphicon glyphicon-remove"></span></a></td>
              {{/if}}
              <td class="hidden modifyable-article-column" data-name="slug">{{ slug }}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

