{{!< default}}

<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 input-box">
      <table class="table">
        <tr class="table-headerstriped">
          <td></td>
          <td>Namn</td>
          <td>Förråd</td>
          <td>Sektion</td>
          <td>Hylla</td>
          <td>Fack</td>
        </tr>
        <!--{{# each checks }}
          <tr class="check-js" id={{_id}}>
            <td><input type="checkbox" class="check-js"></td>
            <td>{{ name }}</td>
            <td>{{ storage }}</td>
            <td>{{ section }}</td>
            <td>{{ shelf }}</td>
            <td>{{ tray }}</td>
          </tr>
        {{/each}}-->
      </table>
    </div>
  </div>
</div>

<link rel="stylesheet" type="text/css" href="/js/jquery.tagsinput.css" media="screen" />
<script src="/js/create.js"></script>
