{{!< default}}

<div class="container">
  <div class="row">
    <div class="input-box">
      <table class="table">
        <tr class="table-headerstriped">
          <td>Namn</td>
          <td>Förråd</td>
          <td>Sektion</td>
          <td>Hylla</td>
          <td>Fack</td>
          <td></td>
        </tr>
        <tr class="check-js" id={{_id}}>
          <td><input type="text" class="form-control" placeholder="Namn..."/></td>
          <td><input type="text" class="form-control" placeholder="Förråd..."/></td>
          <td><input type="text" class="form-control" placeholder="Sektion..."/></td>
          <td><input type="text" class="form-control" placeholder="Hylla..."/></td>
          <td><input type="text" class="form-control" placeholder="Fack..."/></td>
          <td><a class="btn btn-success" href="#" role="button"><span class="glyphicon glyphicon-plus"></span></a></td>
        </tr>

        {{# each articles }}
          <tr class="check-js" id={{_id}}>
            <td>{{ name }}</td>
            <td>{{ storage }}</td>
            <td>{{ section }}</td>
            <td>{{ shelf }}</td>
            <td>{{ tray }}</td>
            <!-- The reason this is called 'article-remove' and not 'remove-article' is because there's a conflict
              with 'remove-article' from the /create style. We should really split up that file into multiple ones. -->
            <td><a class="btn btn-danger article-remove" href="#" role="button"><span class="glyphicon glyphicon-remove"></span></a></td>
          </tr>
        {{/each}}
      </table>
    </div>
  </div>
</div>
