{{!< default}}
<div class="container">

  <div id="specialty">Specialitet: <select required="true" name="specialty" class="specialitet-select">
    <option><option>
  </select></div>

  <div id="state">Tillstånd: <select required="true" name="state" class="state-select">
    <option {{#ifeq state 'Alla tillstånd'}}selected="selected"{{/ifeq}}>Alla tillstånd</option>
    <option {{#ifeq state 'Utkast'}}selected="selected"{{/ifeq}}>Utkast</option>
    <option {{#ifeq state 'Granskning'}}selected="selected"{{/ifeq}}>Granskning</option>
    <option {{#ifeq state 'Publicerad'}}selected="selected"{{/ifeq}}>Publicerad</option>
  </select></div>

  <table class="table table-striped table-hover table-condensed table-responsive">
    <tr>
      <th>#</th>
      <th><a href="?{{currentQuery}}sort={{#ifeq sort 'title'}}-{{/ifeq}}title">Namn</a></th>
      <th><a href="?{{currentQuery}}sort={{#ifeq sort 'tags'}}-{{/ifeq}}tags">Sökord</a></th>
      <th><a href="?{{currentQuery}}sort={{#ifeq sort 'specialty'}}-{{/ifeq}}specialty">Specialitet</a></th>
      <th><a href="?{{currentQuery}}sort={{#ifeq sort 'state'}}-{{/ifeq}}state">Tillstånd</a></th>
      <th class="date"><a href="?{{currentQuery}}sort={{#ifeq sort 'updatedAt'}}-{{/ifeq}}updatedAt">Senast sparad</a></th>
    </tr>
    {{#each operations}}
      <tr onclick="document.location = '/info/{{slug}}';">
        <td>{{math @index "+" ../addToIndex}}</td>
        <td>{{title}}</td>
        <td>{{tags}}</td>
        <td><a href="?specialty={{specialty.name}}">{{specialty.name}}</a></td>
        <td><a href="?state={{state}}">{{state}}</a></td>
        <td class="date">{{#splitDate updatedAt}}
          {{dayOfMonth}}/{{month}} {{year}} {{hour}}:{{minute}}
        {{/splitDate}}</td>
      </tr>
    {{/each}}
  </table>


  {{#if pagination.pageCount}}
    <nav>
      <ul class="pagination">
        {{#paginate pagination type="previous"}}
          <li {{#if disabled}}class="disabled"{{/if}}><a href="?{{../currentQuery}}sort={{../sort}}&limit={{../limit}}&page={{n}}" >&laquo;</a></li>
        {{/paginate}}
        {{#paginate pagination type="middle" limit="7"}}
          <li {{#if active}}class="active"{{/if}}><a href="?{{../currentQuery}}sort={{../sort}}&limit={{../limit}}&page={{n}}">{{n}}</a></li>
        {{/paginate}}
        {{#paginate pagination type="next"}}
          <li {{#if disabled}}class="disabled"{{/if}}><a href="?{{../currentQuery}}sort={{../sort}}&limit={{../limit}}&page={{n}}">&raquo;</a></li>
        {{/paginate}}
        <li>
      </ul>
    </nav>
  {{/if}}
</div>
