{{!< default}}

<div class="container">
  <h2>Pågående operationsförberedelser</h2>
  {{#if operations.length}}

    {{#groupedEach 2 operations}}
      <div class="row">
        {{#each this }}
          <div class="col-md-6 operation" data-id="{{ _id }}">
            <div class="operation-card">
              <a href="/info/{{ slug }}"></a>

              <div class="title">{{ title }}&nbsp;</div>
              <div class="specialty">{{ specialty.abbreviation }}&nbsp;</div>
              <div class="lindaID">{{ linda_id }}&nbsp;
                <span class="comment-icon glyphicon glyphicon-comment {{#unless comment}} hidden {{/unless}}"></span>
              </div>              
              <div class="tags">{{ tags }}&nbsp;</div>                    
              <div class="progressbar {{#if isDone}} isDone {{/if}}" data-total="{{ progress.all.total }}"
                   data-checked="{{ progress.all.checked }}" data-percent="{{ progress.all.percent }}">

              </div>
            </div>
          </div>
        {{/each}}
      </div>
    {{/groupedEach}}
  {{ else }}
    <p>
      Just nu finns det inga pågående operationer.
    </p>
  {{/if}}
</div>
