{{!< default}}

<div class="container">
    <h2>Pågående operationsförberedelser</h2>
  {{#if operations.length}}
      <div class="row">
        {{#each operations }}
            <div class="col-md-4 operation" data-id="{{ _id }}">
                <div class="operation-card">
                    <a href="/info/{{ slug }}"></a>

                    <div class="title">{{ title }}&nbsp;</div>
                    <div class="specialty">{{ specialty.abbreviation }}&nbsp;</div>
                    <div class="tags">{{ tags }}&nbsp;</div>
                    <div class="progressbar" data-total="{{ progress.all.total }}"
                         data-checked="{{ progress.all.checked }}" data-percent="{{ progress.all.percent }}"></div>
                </div>
            </div>
        {{/each}}
      </div>
  {{ else }}
      <p>
          Just nu finns det inga pågående operationer.
      </p>
  {{/if}}
</div>
