{{!< default}}

<div class="container">
  <div id="currentModal"></div>
  <h2>Pågående operationsförberedelser</h2>
  <input type="checkbox" id="hideDone"  value={{#if hidden}}"true"{{else}}"false"{{/if}}> Dölj färdiga förberedelser<br>

  {{#if specialties.length}}

    {{#each specialties}}
      <div class="operationSpecialties" data-specialty="{{this.0.specialty._id}}">
        {{#if this.length}}
          <h3>{{this.0.specialty.name}} <span class="badge">{{this.length}}</span></h3>
        {{/if}}
        {{#groupedEach 2 this}}
          <div class="row">
            {{#each this }}
              {{>removePreparation}}

              <div class="col-md-6 operation" data-id="{{ _id }}" data-slug="{{ slug }}">
                <div class="operation-card">
                  <a href="/info/{{ slug }}"></a>

                  <div class="title">{{ title }}</div>
                  {{#unless user}}
                  <button type="button" class="close removeOperations" data-toggle="modal" aria-label="Close"
                          data-target="#alertRemovePreparation{{_id}}">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{/unless}}  
                  <div class="lindaID">{{ linda_id }}</div>
                  <p id="comment-icon{{_id}}" data-operation="{{_id}}" class="commentGlyphicon glyphicon glyphicon-comment showOperationCommentsButton {{#unless comment}} hidden {{/unless}}"></p>
                  <div class="tags">{{ tags }}&nbsp;</div>
                  <div class="progressbar {{#if isDone}} isDone {{/if}}" data-total="{{ progress.all.total }}"
                       data-checked="{{ progress.all.checked }}" data-percent="{{ progress.all.percent }}">
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        {{/groupedEach}}
      </div>
    {{/each}}
  {{ else }}
    <p>
      Just nu finns det inga pågående operationsförberedelser.
    </p>
  {{/if}}
</div>

<!--Show comments for operations -->
<script id="operationComments-template" type="text/x-handlebars-template">
  <div class="modal fade" id="operationComments" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title">Artiklar med kommentarer</h3>
        </div>
        <div class="modal-body">
          \{{# each checkArticles }}
            \{{#if comment}}
              \{{#ifNeq comment '-'}}
                <h4>\{{name}}</h4>
                <p><b>Kommentar:</b> \{{comment}}</p>
              \{{/ifNeq}}
            \{{/if}}
          \{{/each}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default cancelComment" data-dismiss="modal">Stäng</button>
        </div>
      </div>
    </div>
  </div>
</script>
