{{!< default}}

<div class="container">
    <h2>Pågående operationer</h2>

    <div class="row">
      {{#each operations }}
          <div class="col-md-4 operation">
              <div class="operation-card">
                  <a href="/info/{{ slug }}"></a>
                  <div class="title">{{ title }}&nbsp;</div>
                  <div class="specialty">{{ specialty.abbrevation }}&nbsp;</div>
                  <div class="tags">{{ tags }}&nbsp;</div>
                  <div class="progressbar" data-total="{{ progress.all.total }}" data-checked="{{ progress.all.checked }}" data-percent="{{ progress.all.percent }}"></div>
              </div>
          </div>
      {{/each}}
    </div>
</div>
