<tr data-kartotekID="{{kartotek._id}}" data-operationId="{{operation}}" data-slug="{{slug}}" class="check-js" id={{_id}}>
  <td class="amountColumn centered" id="amount{{kartotek._id}}">
    <div class="minus-field" id="minus{{kartotek._id}}">
      <div class="glyphicon glyphicon-minus minus-icon"></div>
    </div>
    <div class="amount-field" id="top{{kartotek._id}}"><p>{{amount}}</p></div>
    <div class="plus-field" id="plus{{kartotek._id}}">
      <div class="glyphicon glyphicon-plus plus-icon"></div>
    </div>
  </td>
  
  <td class="centered"><p>{{ name }}</p>
  {{#unless kartotek}}
    <p class='errorText'>Utgått</p>
  {{/unless}}
  </td>
  <td class="centered articleNumber"><p>{{ kartotek.articleNumber }}</p></td>
  <td class="centered"><p>{{ kartotek.clinic }}</p></td>
  <td class="centered storage"><p>{{ kartotek.storage }}</p></td>
  <td class="centered"><p>{{ kartotek.section }}</p></td>
  <td class="centered"><p>{{ kartotek.shelf }}</p></td>
  <td class="centered"><p>{{ kartotek.tray }}</p></td>
  <td class="centered-remove">
    <a class="article-remove btn btn-danger" href="#" role="button"><span class="cross glyphicon glyphicon-remove"></span></a>
  </td>
</tr>
