<tr data-kartotekID="{{kartotek._id}}" data-operationId="{{operation}}" data-slug="{{slug}}" class="check-js" id={{_id}}>
  <td class="amountColumn centered" id="amount{{kartotek._id}}"><b class="amount">{{ amount }}</b></td>
  <td class="centered">{{ kartotek.name }}</td>
  <td class="centered">{{ kartotek.storage }}</td>
  <td class="centered">{{ kartotek.section }}</td>
  <td class="centered">{{ kartotek.shelf }}</td>
  <td class="centered">{{ kartotek.tray }}</td>
  <td class="centered-remove">
    <a class="article-remove btn btn-danger" href="#" role="button"><span class="cross glyphicon glyphicon-remove"></span></a>
  </td>
</tr>
