<tr data-kartotekID="{{kartotek._id}}" data-operationId="{{operation}}" data-preparation="false" class="check-js" id={{_id}}>
  {{#unless parent.data.template}}
    <td class="centered"><input type="checkbox" class="checkbox-js" id="{{_id}}"></td>
  {{/unless}}
  <td class="amountColumn centered" id="amount{{kartotek._id}}">
    <div class="minus-field" style="display:none" id="minus{{kartotek._id}}">
      <div class="glyphicon glyphicon-minus minus-icon"></div>
    </div>
    <div class="amount-field" style="display:none" id="top{{kartotek._id}}">{{amount}}</div>
    <b class="uneditable-amount">{{ amount }}</b>
    <div class="plus-field" style="display:none" id="plus{{kartotek._id}}">
      <div class="glyphicon glyphicon-plus plus-icon"></div>
    </div>
  </td>
  <td class="name"><p>{{ kartotek.name }}</p></td>
  <td class="centered articleNumber"><p>Artikelnummer</p></td>
  <td class="centered clinic"><p>Klinik</p></td>
  {{#if kartotek.storage}}
    <td class="centered storage"><p>{{ kartotek.storage }}</p></td>
  {{else}}
    <td class="centered storage"><p class='errorText'>Utgått</p></td>
  {{/if}}
  <td class="centered section"><p>{{ kartotek.section }}</p></td>
  <td class="centered shelf"><p>{{ kartotek.shelf }}</p></td>
  <td class="centered tray"><p>{{ kartotek.tray }}</p></td>
  {{#unless parent.data.template}}
    <td class="centered-comment">
      <button id="commentButton{{_id}}" data-id="{{_id}}" type="button" class="glyphicon glyphicon-comment btn btn-primary btn-lg showComment" data-toggle="modal" data-target="#checkCommentModal{{_id}}">
      </button>
    </td>
    <td class="centered-remove" style="display:none">
      <a class="article-remove btn btn-danger" href="#" role="button"><span class="cross glyphicon glyphicon-remove"></span></a>
    </td>
  {{/unless}}
</tr>
