<tr data-kartotekID="{{kartotek._id}}" data-operationId="{{operation}}" data-preparation="false" class="check-js" id={{_id}}>
  {{#unless parent.data.template}}
    <td class="centered">
      <div class="checkbox-js btn btn-default glyphicon{{#if checked}} glyphicon-ok {{/if}}" id="{{_id}}">
        
        
      </div>
    </td>
  {{/unless}}
  <td class="amountColumn centered" style="display:none" id="amount{{kartotek._id}}">
    <div class="minus-field" id="minus{{kartotek._id}}">
      <div class="glyphicon glyphicon-minus minus-icon"></div>
    </div>
    <div class="amount-field" id="top{{kartotek._id}}">{{amount}}</div>
    <div class="plus-field" id="plus{{kartotek._id}}">
      <div class="glyphicon glyphicon-plus plus-icon"></div>
    </div>
  </td>
  <td class="uneditableAmountColumn centered" id="uneditableAmount{{kartotek._id}}">
    <b class="uneditable-amount"><p>{{ amount }}</p></b>
  </td>
  
  <td class="name"><p>{{ name }}</p>
    {{#unless kartotek}}
      <p class='errorText'>Utgått</p>
    {{/unless}}
  </td>
  <td class="centered articleNumber"><p>{{ kartotek.articleNumber }}</p></td>
  <td class="centered clinic"><p>{{ kartotek.clinic }}</p></td>
  <td class="centered storage"><p>{{ kartotek.storage }}</p></td>
  <td class="centered section"><p>{{ kartotek.section }}</p></td>
  <td class="centered shelf"><p>{{ kartotek.shelf }}</p></td>
  <td class="centered tray"><p>{{ kartotek.tray }}</p></td>
  {{#unless parent.data.template}}
    <td class="centered-comment">
      <button id="commentButton{{_id}}" data-id="{{_id}}" type="button" class="glyphicon glyphicon-comment btn btn-primary btn-lg showComment" data-toggle="modal" data-target="#checkCommentModal{{_id}}">
      </button>
    </td>
    <td class="centered-remove" style="display:none">
      <a class="article-remove btn btn-danger" href="#" role="button"><span class="cross glyphicon glyphicon-remove"></span></a>
    </td>
  {{/unless}}
</tr>
