<div class="process-content-item" data-model="Processinnehall" data-slug="{{ slug }}">
  <span class="contentTitle">
  <input class="form-control rubrik" type="text"
         value="{{#unless noData}}{{title}}{{/unless}}" placeholder="Ny rubrik"
         data-model="Processinnehall" {{#unless noData}}data-slug="{{slug}}"{{/unless}}
         data-field="title" data-update="true"/>
    <span>
    Checkbar: 
    <input type="checkbox" class="checkAble" {{#if checkAble}} checked="checked" {{/if}}value="true"
           data-model="Processinnehall" {{#unless noData}}data-slug="{{slug}}"{{/unless}}
           data-field="checkAble" data-update="true">
    </span>
  </span>
  <span class="contentText">
    <textarea class="information" 
              data-model="Processinnehall" {{#unless noData}}data-slug="{{slug}}"{{/unless}}
              data-field="text" data-update="true">{{#unless noData}}{{text}}{{/unless}}</textarea>
  </span>
  <i class="glyphicon glyphicon-remove"></i>
</div>
