<div class="process-content-item" data-model="Processinnehall" data-slug="{{ slug }}">
  <span class="contentTitle">
  <input class="form-control rubrik" type="text"
         value="{{#unless noData}}{{title}}{{/unless}}" placeholder="Ny rubrik"
         data-model="Processinnehall" {{#unless noData}}data-slug="{{slug}}"{{/unless}}
         data-field="title" data-update="true"/ data-saved="{{#unless noData}}{{title}}{{/unless}}">
    <span>
    Checkbar: 
    <input type="checkbox" class="checkAble" {{#if checkAble}} checked="checked" {{/if}}value="true"
           data-model="Processinnehall" {{#unless noData}}data-slug="{{slug}}"{{/unless}}
           data-field="checkAble" data-update="true" data-saved="{{#unless noData}}{{checkAble}}{{/unless}}">
    </span>
  </span>
  <span class="contentText">
    <textarea disabled="disabled" class="information" 
              data-model="Processinnehall" {{#unless noData}}data-slug="{{slug}}"{{/unless}}
              data-field="text" data-update="true" data-saved="{{#unless noData}}{{text}}{{/unless}}">{{#unless noData}}{{text}}{{/unless}}</textarea>
    <div class="overlay-container">
      <div class="overlay">{{#unless noData}}{{{text}}}{{/unless}}</div>
      <div class="blur"></div>
      <div class="text">Klicka för att redigera <i class="glyphicon glyphicon-pencil" style="margin-left: 5px;"></i></div>
    </div>
  </span>
  <i class="glyphicon glyphicon-remove"></i>
</div>
